@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/roboto/roboto_regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../assets/fonts/roboto/roboto_bold.woff") format("woff");
}

@font-face {
  font-family: "Fugaz One";
  src: url("../assets/fonts/fugaz_one/fugaz_one_regular.woff") format("woff");
}

@font-face {
  font-family: "Peace Sans";
  src: url("../assets/fonts/peace_sans/peace_sans.woff") format("woff");
}
