.links-section {
  background-color: #ccc2bc;
  color: #131211;

  position: relative;
}

.links-section:before,
.links-section:after {
  content: "";

  position: absolute;
  left: 0;

  display: block;

  width: 100%;
  height: 4px;

  background: #212121;
}

.links-section:before {
  top: 6px;
}

.links-section:after {
  bottom: 6px;
}

.links-section__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 80px 0 80px 0;
}

.links-title {
  padding-left: 12px;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  padding-right: 12px;
}

.links__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-right: 40px;
}

.links__item:last-child {
  margin-right: 0;
}

.links__item svg path {
  fill: #131211;
}

.links__item:hover {
  background-color: #131211;
}

.links__item:hover svg path {
  fill: #ccc2bc;
}

@media screen and (max-width: 768px) {
  .links__item {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .links__item {
    width: 40px;
    height: 40px;

    margin-right: 40px;
  }
}

@media screen and (max-width: 460px) {
  .links__item {
    width: 30px;
    height: 30px;

    margin-right: 24px;
  }
}