.portfolio-section {
  padding-top: 40px;
  padding-bottom: 40px;

  position: relative;
}

.portfolio-title {
  color: #ccc2bc;
}

.project-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  width: 100%;
  max-width: 1000px;

  margin: 40px auto 0 auto;

  position: relative;
}

.project-list__background {
  position: absolute;
  top: 0;
  left: 80%;
  z-index: -1;

  max-width: 500px;
}

.project {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;

  cursor: pointer;

  max-width: 300px;
  height: 320px;

  margin-right: 12px;
  margin-bottom: 12px;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;

  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  -o-transition: -o-transform ease 0.2s;
  -moz-transition: transform ease 0.2s, -moz-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s, -moz-transform ease 0.2s, -o-transform ease 0.2s;
}

.project:hover {
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 992px) {
  .project-list {
    max-width: 100%;
  }

  .project {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 576px) {
  .project-list {
    padding-left: 12px;
    padding-right: 12px;
  }

  .project {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;

    margin-right: 0;

    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .project-list {
    padding: 0;
  }

  .project {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}