.project-popup {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  background-color: #131211e7;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-popup_hidden {
  display: none;
}

.project-popup__content {
  width: 90%;
  height: 80%;

  background-color: #131211;

  border-top: 4px solid #ccc2bc;

  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-shadow: 0px 14px 12px #080807;
     -moz-box-shadow: 0px 14px 12px #080807;
          box-shadow: 0px 14px 12px #080807;
}

.project-popup__content_hidden {
  display: none;
}

.project-popup__title-wrapper {
  padding: 16px 16px 8px 16px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 70%;
}

.project-popup__title {
  font-size: 34px;

  text-transform: capitalize;

  margin-right: 12px;

  display: inline-block;
}

.project-popup__tags {
  padding: 8px 16px 0 16px;

  opacity: 0.8;
}

.project-popup__date {
  padding: 8px 16px 0 16px;

  opacity: 0.4;
}

.project-popup__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: 10px;

  color: #ccc2bc;
}

.project-popup__link svg {
  width: 24px;
  height: 24px;

  stroke: #ccc2bc;
}

.project-popup__link:hover svg {
  stroke-width: 2;
}

.project-popup__link_hidden {
  display: none;
}

.project-popup__close-button {
  outline: none;

  cursor: pointer;

  width: 35px;
  height: 35px;

  position: absolute;
  right: 16px;
  top: 16px;

  border: none;

  background-color: #131211;
}

.project-popup__close-button:hover {
  background-color: #ccc2bc;
}

.project-popup__close-button:hover svg path {
  fill: #131211;
}

.project-popup__close-button svg path {
  fill: #ccc2bc;
}

@media screen and (max-width: 992px) {
  .project-popup__content {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .project-popup__content {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .project-popup__title-wrapper {
    padding: 16px 0 0 16px;
  }

  .project-popup__title {
    font-size: 24px;
  }

  .project-popup__tags {
    font-size: 14px;
  }
}