.footer {
  padding: 30px;
  padding-top: 38px;

  color: #ccc2bc;

  text-align: center;

  position: relative;
}

.footer:before {
  content: "";

  position: absolute;
  left: 0;
  top: 6px;

  display: block;

  width: 100%;
  height: 4px;

  background: #212121;
}
