* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	color: white;
	background-color: black;
		
	font-family: "Roboto", Arial, sans-serif;
}

svg, path, g {
	pointer-events: none;
}

.mobile-overflow-fix {
	overflow-x: hidden;
}

.main-wrapper {
	max-width: 1120px;

	margin: 0 auto;
}

.section {
	margin-top: 170px;
}

.section__title {
	font-size: 30px;
	
	padding-left: 24px;
}

.section__title_center {
	padding-left: 0;
		
	text-align: center;
}
