/* :root {
  --color-1: #ccc2bc;
  --color-2: #131211;
  --color-3: #131211b2;
  --color-4: #0e0d0c;
} */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  color: #ccc2bc;
  background-color: #131211;

  font-family: "Roboto", Arial, sans-serif;
}

svg,
path,
g {
  pointer-events: none;
}

.main-wrapper {
  max-width: 1120px;

  margin: 0 auto;
}

.section__title {
  font-size: 30px;
}

.section__title_center {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .section__title {
    font-size: 24px;
  }
}
