.info-about {
  margin-top: 200px;
}

.info-about__main-text {
  font-size: 34px;

  max-width: 340px;

  border: 2px solid var(--color-1);

  padding-right: 12px;
  padding-top: 6px;
}

.info-about__paragraph {
  position: relative;
  z-index: 1000;

  margin-top: 14px;

  opacity: 0.5;

  letter-spacing: 0.1rem;

  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .info-about__paragraph {
    background-color: var(--color-2);
  }
}
