.skill-list {
  width: 80%;
  margin: 40px auto 0 auto;

  white-space: nowrap;

  display: flex;

  overflow: hidden;

  position: relative;
  z-index: 1000;
}

.skills-wrapper {
  will-change: transform;

  font-size: 0;

  display: flex;

  height: 180px;

  animation: skills-infinite-scroll 15s infinite linear;
}

@keyframes skills-infinite-scroll {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.skill {
  width: 120px;
  height: 180px;

  margin-right: 30px;

  border-bottom: 6px solid var(--color-1);

  background: linear-gradient(180deg, transparent 80%, #111 100%);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: pointer;

  transition: color linear 0.3s;
}

.skill:hover {
  color: #ffca2a;

  opacity: 1;
}

.skill:hover::after {
  background-color: #ffca2a;
}

.skill::after {
  content: "";

  display: block;

  width: 100%;
  height: 4px;

  background-color: var(--color-1);

  position: absolute;
  top: 176px;
  left: 0;

  box-shadow: 0px 0px 10px var (--color-1);

  transition: color linear 0.3s;
}

.skill__name {
  font-size: 20px;
  position: absolute;
  top: 74%;

  opacity: 0.8;

  text-shadow: 0 0 12px var (--color-1);
}

.skill__image {
  width: 65%;

  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .skill-list {
    width: 100%;
  }
}
